.photo-grid {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(213px, 1fr));
    max-width: 1184px;
    margin: 0 auto 92px;
}


/* 1185px указан вместо разрешения на 1024px 
по причине переполнения page в промежутке 1025px - 1085px */

@media screen and (max-width: 1185px) {
    .photo-grid {
        gap: 14px;
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        max-width: 720px;
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        max-width: 288px;
        margin-bottom: 64px;
    }
}