.header__logo {
    display: flex;
    background-image: url(../../../sprint-3-images/header-logo.svg);
    max-width: 176px;
    min-height: 52px;
    margin: 0;
    align-self: center;
    justify-self: center;
}

@media screen and (max-width: 320px) {
    .header__logo {
        width: minmax(142px, 1fr);
        min-width: 142px;
        min-height: 42px;
    }
}