.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    padding-top: 28px;
    width: calc(100% - 48px*2);
    margin: 0 48px 0;
}

@media screen and (max-width: 768px) {
    .header {
        width: calc(100% - 24px*2);
        margin: 0 24px 0;
    }
}

@media screen and (max-width: 320px) {
    .header {
        width: calc(100% - 16px*2);
        margin: 0 16px;
        padding: 16px 0 0;
    }
}