    .intro {
        display: flex;
        flex-direction: column;
        width: 690px;
        margin: 114px 442px 92px 148px;
    }
    
    @media screen and (max-width: 1024px) {
        .intro {
            width: 690px;
            margin: 114px 286px 92px 48px;
        }
    }
    
    @media screen and (max-width: 768px) {
        .intro {
            width: 720px;
            margin: 110px auto 88px;
        }
    }
    
    @media screen and (max-width: 320px) {
        .intro {
            width: 288px;
            margin: 64px auto;
        }
    }