.cover {
    display: flex;
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    width: calc(100% - 48px*2);
    min-height: 740px;
    padding: 0;
    margin: 0 auto 92px;
}

@media screen and (max-width: 1024px) {
    .cover {
        width: 100%;
        min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        min-height: 480px;
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        min-height: 200px;
        margin-bottom: 64px;
    }
}