        .place__link {
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            text-decoration-line: underline;
            color: #FFFFFF;
            margin-top: 12px;
        }
        
        .place__link:hover {
            text-decoration-line: none;
        }
        
        @media screen and (max-width: 1280px) {
            .place__link {
                width: 456px;
                min-height: 22px;
            }
        }
        
        @media screen and (max-width: 1024px) {
            .place__link {
                width: 456px;
                min-height: 22px;
            }
        }
        
        @media screen and (max-width: 768px) {
            .place__link {
                width: 352px;
                min-height: 22px;
            }
        }
        
        @media screen and (max-width: 320px) {
            .place__link {
                display: none;
            }
        }