.cover__title {
    width: 560px;
    font-style: normal;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    padding: 0;
    margin-bottom: 32px;
}

@media screen and (max-width: 320px) {
    .cover__title {
        width: 288px;
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 16px;
    }
}