.place {
    display: grid;
    column-gap: 40px;
    row-gap: 48px;
    align-self: start;
    margin: 0 0 80px;
    grid-template-columns: repeat(2, minmax(310px, 1fr));
    width: 100%;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    justify-self: center;
}

@media screen and (max-width: 1024px) {
    .place {
        column-gap: 32px;
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        grid-template-columns: repeat(auto-fit, minmax(273px, 1fr));
        column-gap: 28px;
        margin-bottom: 73px;
    }
}

@media screen and (max-width: 320px) {
    .place {
        grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
        row-gap: 32px;
        margin: 0 0 49px;
    }
}