.footer {
    display: flex;
    justify-content: space-between;
    width: 1184px;
    max-height: 18px;
    margin: 0 48px;
    padding: 0 0 24px;
    width: 1184px;
}

@media screen and (max-width: 1024px) {
    .footer {
        width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        width: 720px;
        margin: 0 24px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        flex-direction: column;
        width: 186px;
        margin: 0 118px 0 16px;
    }
}