.footer {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 48px*2);
    margin: 0 auto;
    padding: 0 0 24px;
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    .footer {
        width: 720px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        width: calc(100% - (118px + 16px));
        flex-direction: column;
        margin: 0 118px 0 16px;
    }
}